* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	background: black;
}

.fanzine {
	background: white;

	nav {
		background: white;
		a {
			color: black;
		}
		a:hover {
			background: black;
			color: white;
		}
	}
}

nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	background: black;
	margin: 20px 0;
	a {
		font-family: 'Quicksand', sans-serif;
		font-weight: 600;
		color: white;
		text-decoration: none;
		padding: 10px;
	}
	a:hover {
		background: white;
		color: black;
	}
}

.preview {
	display: inline-block;
	width:500px;
	height:500px;
	margin: 24px;
	background: no-repeat center url("../images/cover.png");
	background-size: contain;
	position: relative;

	img {
		width:500px;
		height:500px;
	}

	.pastille {
		position: absolute;
		bottom:4px;
		right:4px;
		width:40px;
		height:40px;
		background: no-repeat center url("../images/red.png");
		background-size: contain;
	}

	.number {
		min-height: 10em;
	  display: table-cell;
		color: white;
		width:40px;
		height:40px;
	  vertical-align: middle;
	}
}


.page {
	display: inline-block;

	img {
		width: 400px;
		margin: 20px;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.24);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.24);
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.24);
	}
}

.rotate1 { -ms-transform: rotate(1deg); -webkit-transform: rotate(1deg); transform: rotate(1deg); }
.rotate2 { -ms-transform: rotate(2deg); -webkit-transform: rotate(2deg); transform: rotate(2deg); }
.rotate3 { -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg); }
.rotate4 { -ms-transform: rotate(4deg); -webkit-transform: rotate(4deg); transform: rotate(4deg); }
.rotate5 { -ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); transform: rotate(5deg); }
.rotate6 { -ms-transform: rotate(6deg); -webkit-transform: rotate(6deg); transform: rotate(6deg); }
.rotate7 { -ms-transform: rotate(-1deg); -webkit-transform: rotate(-1deg); transform: rotate(-1deg); }
.rotate8 { -ms-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); transform: rotate(-2deg); }
.rotate9 { -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
.rotate10 { -ms-transform: rotate(-4deg); -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }
.rotate11 { -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
.rotate12 { -ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg); }